<!DOCTYPE html>
<html>
<head>
<style type="text/css">
  body{
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    border-radius: 10px;
}
ul.nav li {
    border-right:1px solid #189b80; /* you can change the border color matching to your background color */
    float:right;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:ghostwhite;
    text-decoration:none;
}
hr{
  position: relative;
        top: 10px;
        border: none;
        margin-left: 150px;
        margin-right: 150px;
        height: 8px;
        background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 10px;


        margin-bottom: 30px;
}.card {
  width: 19em;
  height: 34em;
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.card .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.card .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}
.avatar {
  vertical-align: middle;
  width: 78px;
  height: 78px;
  border-radius: 50%;
 
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}





</style>
</head>
<body>
<form action="/opedit" method="post">
 
   <ul class="nav">

     <li><a href="#">Contact</a></li>
     <li><a href="#">Services</a></li>
     <li><a href="#">Abouts</a></li>
     <li><a href="#">Home</a></li>
   </ul>
</div>
<h1 align="center" style=" font-family:Arial, Helvetica, sans-serif; color: #232526;  /* fallback for old browsers */
">DONOR PROFILE</h1>
<hr>

  
    <div class="card">
      <div class="img">
        <img src="https://png.pngtree.com/png-vector/20190710/ourmid/pngtree-user-vector-avatar-png-image_1541962.jpg" alt="Avatar" class="avatar">
      </div>
      <span>DONOR</span>
    <% user.forEach((user) => { %>
        <% var nam = JSON.stringify(user.donar) %>
        <% var useremail = JSON.stringify(user.email) %>
        <% var number= JSON.stringify(user.phonenum)%>
        <% var add= JSON.stringify(user.address)%>
        <% var pin= JSON.stringify(user.pincode)%>
        <p style="color: whitesmoke; padding-left: 20px;" ><b><%-"Donorname:"+nam %></b> </p>
        <p style="color: whitesmoke; padding-left: 20px;"><%-"Mobilenumber:"+number %></p>
        <p style="color: whitesmoke;padding-left: 20px;"><%-"Address:"+add %></p>
        <p style="color: whitesmoke;padding-left: 20px;"><%-"Pincode:"+pin %></p>
      
    <% }) %>
      
    
      <div class="share">
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
       
        </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
     
      </svg></a>
        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
     
      </svg></a>
      <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
     
      </svg></a>
    </svg></a>
     <a href="#edit"><button id="myButton" type="submit">EDIT</button></a>
      </div>
    </div>
   </div>
</form>
<script>
  
</script>
</body>
</html>

